# Marina Selber Cekannauskas

## Research question/interest

The dataset provides an insight on the concept of masculinity through the lens 
of the modern men . As a female student in DataScience - a male dominant field-
I would like to analyse questions such as how important it is for men to be seen by outsiders as  masculine,  what are some of the insights on  what  they considered advantages and disadvantages of being a men in the job market and if there is any relationship between 
their need for being seen  masculine with attitudes in the working environment .

In [46]:
import pandas as pd

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/masculinity-survey/raw-responses.csv")
df

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,...,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight
0,1,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,...,Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026
1,2,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120
2,3,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746
3,4,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640
4,5,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,1611,5/22/18 8:48,5/22/18 8:52,Not very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Other family members,Pop culture,Friends,...,West North Central,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight,2.891038
1611,1612,5/22/18 9:15,5/22/18 9:24,Very masculine,Very important,Father or father figure(s),Not selected,Other family members,Not selected,Not selected,...,NaN,iOS Phone / Tablet,Non-white,Hispanic,High school or less,High school or less,35 - 64,Has children,Straight,8.643674
1612,1613,5/22/18 9:22,5/22/18 9:39,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,...,South Atlantic,Windows Desktop / Laptop,White,White,Some college,Some college,35 - 64,Has children,Straight,2.340241
1613,1614,5/22/18 9:44,5/22/18 9:50,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,...,Mountain,Windows Desktop / Laptop,White,White,High school or less,High school or less,18 - 34,No children,Straight,6.557984
1614,1615,5/22/18 9:55,5/22/18 10:00,Very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Not selected,Not selected,Not selected,...,Middle Atlantic,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight,2.817560

# Task 1 : EDA

In [7]:
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

print("Number of rows and columns respectively:", df.shape)

Number of rows and columns respectively: (1615, 98)

#### Based on the frequency table below  , it is possible to understand most common answers for survey questions as well as demographic categories

In [8]:
df.describe(include='object').T

            count unique                         top  freq
StartDate    1615   1378               5/21/18 12:36     4
EndDate      1615   1377                5/17/18 4:41     4
q0001        1615      5          Somewhat masculine   826
q0002        1615      5          Somewhat important   628
q0004_0001   1615      2  Father or father figure(s)  1109
...           ...    ...                         ...   ...
educ3        1615      3             College or more   997
educ4        1615      4             College or more   515
age3         1615      3                     35 - 64   855
kids         1606      2                Has children  1065
orientation  1615      4                    Straight  1408

[96 rows x 4 columns]

#### Our survey is based mostly on categorical variables. The numerical variable "weight" is the only varible that allows for an overview of data with an approach in statistics .

In [5]:
df.dtypes

Unnamed: 0       int64
StartDate       object
EndDate         object
q0001           object
q0002           object
                ...
educ4           object
age3            object
kids            object
orientation     object
weight         float64
Length: 98, dtype: object

In [96]:
df.describe(include='float64').T

,count,mean,std,min,25%,50%,75%,max
weight,1615.0,1.0,1.438996,0.019744,0.10258,0.596892,1.010046,8.676606

#### Before cleaning the data , I wanted to understand the meaning for the  first four columns : how long it took for each participant to answer each question . Note on dropping the "Unnamed" column since it is unnecessary

In [53]:
df[df.columns[0:3]]

      Unnamed: 0     StartDate        EndDate
0              1  5/10/18 4:01   5/10/18 4:06
1              2  5/10/18 6:30   5/10/18 6:53
2              3  5/10/18 7:02   5/10/18 7:09
3              4  5/10/18 7:27   5/10/18 7:31
4              5  5/10/18 7:35   5/10/18 7:42
...          ...           ...            ...
1610        1611  5/22/18 8:48   5/22/18 8:52
1611        1612  5/22/18 9:15   5/22/18 9:24
1612        1613  5/22/18 9:22   5/22/18 9:39
1613        1614  5/22/18 9:44   5/22/18 9:50
1614        1615  5/22/18 9:55  5/22/18 10:00

[1615 rows x 3 columns]

 Analyzing the columns I realized questions on the survey were substituted with "q00x" , it would be possible to rename columns . However , in this survey some questions ( such as question 4 and question 8 for example ) had multiple answers . When loading the table , some columns were created to fit such options . Therefore , q004_001, q0004_0002,q0004_0003,q0004_0004 are all part of question 4 for example.

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 98 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1615 non-null   int64
 1   StartDate    1615 non-null   object
 2   EndDate      1615 non-null   object
 3   q0001        1615 non-null   object
 4   q0002        1615 non-null   object
 5   q0004_0001   1615 non-null   object
 6   q0004_0002   1615 non-null   object
 7   q0004_0003   1615 non-null   object
 8   q0004_0004   1615 non-null   object
 9   q0004_0005   1615 non-null   object
 10  q0004_0006   1615 non-null   object
 11  q0005        1615 non-null   object
 12  q0007_0001   1615 non-null   object
 13  q0007_0002   1615 non-null   object
 14  q0007_0003   1615 non-null   object
 15  q0007_0004   1615 non-null   object
 16  q0007_0005   1615 non-null   object
 17  q0007_0006   1615 non-null   object
 18  q0007_0007   1615 non-null   object
 19  q0007_0008   1615 non-null   object
 20  q0007_0009   1615 non-null   object
 21  q0007_0010   1615 non-null   object
 22  q0007_0011   1615 non-null   object
 23  q0008_0001   1615 non-null   object
 24  q0008_0002   1615 non-null   object
 25  q0008_0003   1615 non-null   object
 26  q0008_0004   1615 non-null   object
 27  q0008_0005   1615 non-null   object
 28  q0008_0006   1615 non-null   object
 29  q0008_0007   1615 non-null   object
 30  q0008_0008   1615 non-null   object
 31  q0008_0009   1615 non-null   object
 32  q0008_0010   1615 non-null   object
 33  q0008_0011   1615 non-null   object
 34  q0008_0012   1615 non-null   object
 35  q0009        1615 non-null   object
 36  q0010_0001   880 non-null    object
 37  q0010_0002   880 non-null    object
 38  q0010_0003   880 non-null    object
 39  q0010_0004   880 non-null    object
 40  q0010_0005   880 non-null    object
 41  q0010_0006   880 non-null    object
 42  q0010_0007   880 non-null    object
 43  q0010_0008   880 non-null    object
 44  q0011_0001   880 non-null    object
 45  q0011_0002   880 non-null    object
 46  q0011_0003   880 non-null    object
 47  q0011_0004   880 non-null    object
 48  q0011_0005   880 non-null    object
 49  q0012_0001   880 non-null    object
 50  q0012_0002   880 non-null    object
 51  q0012_0003   880 non-null    object
 52  q0012_0004   880 non-null    object
 53  q0012_0005   880 non-null    object
 54  q0012_0006   880 non-null    object
 55  q0012_0007   880 non-null    object
 56  q0013        49 non-null     object
 57  q0014        880 non-null    object
 58  q0015        742 non-null    object
 59  q0017        1615 non-null   object
 60  q0018        1615 non-null   object
 61  q0019_0001   1251 non-null   object
 62  q0019_0002   1251 non-null   object
 63  q0019_0003   1251 non-null   object
 64  q0019_0004   1251 non-null   object
 65  q0019_0005   1251 non-null   object
 66  q0019_0006   1251 non-null   object
 67  q0019_0007   1251 non-null   object
 68  q0020_0001   1615 non-null   object
 69  q0020_0002   1615 non-null   object
 70  q0020_0003   1615 non-null   object
 71  q0020_0004   1615 non-null   object
 72  q0020_0005   1615 non-null   object
 73  q0020_0006   1615 non-null   object
 74  q0021_0001   1615 non-null   object
 75  q0021_0002   1615 non-null   object
 76  q0021_0003   1615 non-null   object
 77  q0021_0004   1615 non-null   object
 78  q0022        1615 non-null   object
 79  q0024        1615 non-null   object
 80  q0025_0001   1615 non-null   object
 81  q0025_0002   1615 non-null   object
 82  q0025_0003   1615 non-null   object
 83  q0026        1615 non-null   object
 84  q0028        1615 non-null   object
 85  q0029        1615 non-null   object
 86  q0030        1615 non-null   object
 87  q0034        1613 non-null   object
 88  q0035        1595 non-null   object
 89  q0036        1613 non-null   object
 90  race2        1615 non-null   object
 91  racethn4     1615 non-null   object
 92  educ3        1615 non-null   object
 93  educ4        1615 non-null   object
 94  age3         1615 non-null   object
 95  kids         1606 non-null   object
 96  orientation  1615 non-null   object
 97  weight       1615 non-null   float64
dtypes: float64(1), int64(1), object(96)
memory usage: 1.2+ MB

In [116]:
df['q0001'].value_counts()

Somewhat masculine      826
Very masculine          612
Not very masculine      131
Not at all masculine     32
No answer                14
Name: q0001, dtype: int64

In [126]:
df['q0011_0001'].value_counts()

Not selected                               700
Managers want to hire and promote women    180
Name: q0011_0001, dtype: int64

# Task 2 - 3

My goal is to analyse a possible relationship between the importance of being seen as masculine with behavior in the workplace . Firstly , how important is it for men to be seen as masculine ?  Secondly, what are considered to be the advantages of being a men in the workplace ? The disadvantages ? Finally,  is there any relationship between men who highly value being seen as masculine with recognizing possible advantanges of being a men ? Is there any relationship between the perception on masculinity with their opinions on possible disadvantages?

#### First , I selected the columns I wanted to answer such question and dropped the others 
**Question 10** :  In which of the following ways would you say it’s an ​advantage​ to be a man at
your work right now? 
- q0010_0001 : Men make more money 
- q0010_0002 : Men are taken more serioulsy 
- q0010_0003 : Men have more choice 
- q00010_0004: Men have more promotion/professional development opportunities 
- q00010_0005: Men are explicitly praised more often
- q00010_0004: Men generally have more support from their managers
- q00010_0004:Other (please specify)
- q00010_0004:None of the above

In [94]:
DF = df[['q0002','q0010_0001','q0010_0002','q0010_0003','q0010_0004','q0010_0005','q0010_0006','q0010_0007','q0010_0008']]
DF

,q0002,q0010_0001,q0010_0002,q0010_0003,q0010_0004,q0010_0005,q0010_0006,q0010_0007,q0010_0008
0,Somewhat important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Somewhat important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Not too important,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected
3,Not too important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Very important,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected
...,...,...,...,...,...,...,...,...,...
1610,Not at all important,Men make more money,Men are taken more seriously,Men have more choice,Men have more promotion/professional developme...,Men are explicitly praised more often,Men generally have more support from their man...,Not selected,Not selected
1611,Very important,Men make more money,Not selected,Men have more choice,Not selected,Not selected,Men generally have more support from their man...,Not selected,Not selected
1612,Somewhat important,Men make more money,Men are taken more seriously,Not selected,Men have more promotion/professional developme...,Not selected,Not selected,Not selected,Not selected
1613,Somewhat important,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected
1614,Not at all important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Second , considering participants who were unemployed/ retired in the survey and  ,therefore , are not relevant to the question of workplace behavior ,  I dropped all Nan values

In [95]:
Dataframe = DF.dropna()
Dataframe

,q0002,q0010_0001,q0010_0002,q0010_0003,q0010_0004,q0010_0005,q0010_0006,q0010_0007,q0010_0008
2,Not too important,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected
4,Very important,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected
5,Somewhat important,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Other (please specify)
6,Not too important,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected
8,Not at all important,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected
...,...,...,...,...,...,...,...,...,...
1609,Not at all important,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Other (please specify)
1610,Not at all important,Men make more money,Men are taken more seriously,Men have more choice,Men have more promotion/professional developme...,Men are explicitly praised more often,Men generally have more support from their man...,Not selected,Not selected
1611,Very important,Men make more money,Not selected,Men have more choice,Not selected,Not selected,Men generally have more support from their man...,Not selected,Not selected
1612,Somewhat important,Men make more money,Men are taken more seriously,Not selected,Men have more promotion/professional developme...,Not selected,Not selected,Not selected,Not selected
1613,Somewhat important,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected

#### I renamed column 2 ( along with all others )  with the question itself as well as  I changed categorical answers for second column into numerical ones .
#### If being masculine is "very important" it would reach a value of 4 while "not important at all" would be the value of 1.

In [96]:
Dataframe = Dataframe.rename(columns={"q0002": "Importance of being seen as masculine" , "q0010_0001": "Men make more money" , "q0010_0002": "Men are taken more seriously" , "q0010_0003": "Men have more choice","q0010_0004": "Men have more promotion/professional development opportunities","q0010_0005": "Men are explicitly praised more often", "q0010_0006":"Men have more support from their managers","q0010_0007":"Other" , "q0010_0008":"None of the Above"})

In [97]:
Dataframe = Dataframe.select_dtypes(include=['object']).copy()
cleanup_nums = {"Importance of being seen as masculine" : {"Very important": 4, "Somewhat important":3 , "Not too important":2, "Not at all important":1}}
Dataframe = Dataframe.replace(cleanup_nums)
Dataframe.head()

,Importance of being seen as masculine,Men make more money,Men are taken more seriously,Men have more choice,Men have more promotion/professional development opportunities,Men are explicitly praised more often,Men have more support from their managers,Other,None of the Above
2,2,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected
4,4,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected
5,3,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Other (please specify)
6,2,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected
8,1,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected

Question 10 and 11 were questions with more than one possible anwser to select . Therefore q0010_0001 , q0010_0002 ... Q0010_0008 could or could not have been selected as answers . By renaming them , I have made it easier to see what was selected . I have also changed "Not selected " as "No" to understand if choice presented in column was the one selected .

In [112]:
replacing_var = {"Not selected": "No" , "Men make more money" : "Yes" , "Men are taken more seriously" :"Yes" ,  "Men have more choice" :"Yes", "Men have more promotion/professional development opportunities" :"Yes", "Men have more promotion/professional development opportunities": "Yes", "Men are explicitly praised more often": "Yes" , "Men generally have more support from their managers" : "Yes"}
Dataframe = Dataframe.replace(replacing_var)
Dataframe

,Importance of being seen as masculine,Men make more money,Men are taken more seriously,Men have more choice,Men have more promotion/professional development opportunities,Men are explicitly praised more often,Men have more support from their managers,Other,None of the Above
2,2,No,No,No,No,No,No,None of the above,No
4,4,No,No,No,No,No,No,None of the above,No
5,3,No,No,No,No,No,No,No,Other (please specify)
6,2,No,No,No,No,No,No,None of the above,No
8,1,No,No,No,No,No,No,None of the above,No
...,...,...,...,...,...,...,...,...,...
1609,1,No,No,No,No,No,No,No,Other (please specify)
1610,1,Yes,Yes,Yes,Yes,Yes,Yes,No,No
1611,4,Yes,No,Yes,No,No,Yes,No,No
1612,3,Yes,Yes,No,Yes,No,No,No,No
1613,3,No,No,No,No,No,No,None of the above,No

#### By switching rows with columns and vice versa , using pandas.DataFrame.transpose , I believe I have made a bit easier to understand the variables I will be working with in  my data visualization

In [99]:
Dataframe_transposed = Dataframe.T
Dataframe_transposed

,2,4,5,6,8,9,10,13,16,17,...,1601,1602,1603,1607,1608,1609,1610,1611,1612,1613
Importance of being seen as masculine,2,4,3,2,1,3,3,4,2,2,...,4,3,2,3,2,1,1,4,3,3
Men make more money,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,Yes,Yes,Yes,No
Men are taken more seriously,No,No,No,No,No,Yes,No,Yes,No,No,...,No,No,No,No,No,No,Yes,No,Yes,No
Men have more choice,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,Yes,Yes,No,No
Men have more promotion/professional development opportunities,No,No,No,No,No,Yes,No,No,No,No,...,No,No,No,Yes,No,No,Yes,No,Yes,No
Men are explicitly praised more often,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,Yes,No,No,No
Men have more support from their managers,No,No,No,No,No,Yes,No,No,No,No,...,No,No,No,No,No,No,Yes,Yes,No,No
Other,None of the above,None of the above,No,None of the above,None of the above,No,None of the above,No,None of the above,None of the above,...,None of the above,None of the above,None of the above,No,None of the above,No,No,No,No,None of the above
None of the Above,No,No,Other (please specify),No,No,No,No,No,Other (please specify),No,...,No,No,No,No,No,Other (please specify),No,No,No,No

In [139]:
Dataframe.groupby(["Men make more money"]).size().reset_index(name="count")

  Men make more money  count
0                  No    707
1                 Yes    173

In [101]:
Dataframe.groupby(["Men are taken more seriously"]).size().reset_index(name="count")

  Men are taken more seriously  count
0                           No    672
1                          Yes    208

In [102]:
Dataframe.groupby(["Men have more choice"]).size().reset_index(name="Count")

  Men have more choice  Count
0                   No    753
1                  Yes    127

In [103]:
Dataframe.groupby(["Men have more promotion/professional development opportunities"]).size().reset_index(name="Count")

  Men have more promotion/professional development opportunities  Count
0                                                 No                734
1                                                Yes                146

In [104]:
Dataframe.groupby(["Men are explicitly praised more often"]).size().reset_index(name="Count")

  Men are explicitly praised more often  Count
0                                    No    813
1                                   Yes     67

In [105]:
Dataframe.groupby(["Other"]).size().reset_index(name="Count")

               Other  Count
0                 No    355
1  None of the above    525

In [106]:
Dataframe.groupby(["None of the Above"]).size().reset_index(name="Count")

        None of the Above  Count
0                      No    819
1  Other (please specify)     61

### Same steps for question 11
**Question 11** : In which of the following ways would you say it’s a ​disadvantage​ to be a man at your work right now?
 - q0011_0001 : Managers want to hire and promote women
 - q0011_0002 : Greater risk of being accused of sexual harassment
 - q0011_0003 : Greater risk of being accused of being sexist or racist
 - q0010_0002 : Other 
 - q0010_0003 : None of the above

In [18]:
Dataframe2 = df[['q0002','q0011_0001','q0011_0002','q0011_0003','q0011_0004','q0011_0005']] 
Dataframe2

,q0002,q0011_0001,q0011_0002,q0011_0003,q0011_0004,q0011_0005
0,Somewhat important,NaN,NaN,NaN,NaN,NaN
1,Somewhat important,NaN,NaN,NaN,NaN,NaN
2,Not too important,Managers want to hire and promote women,Not selected,Not selected,Not selected,Not selected
3,Not too important,NaN,NaN,NaN,NaN,NaN
4,Very important,Not selected,Greater risk of being accused of sexual harass...,Greater risk of being accused of being sexist ...,Not selected,Not selected
...,...,...,...,...,...,...
1610,Not at all important,Not selected,Not selected,Greater risk of being accused of being sexist ...,Not selected,Not selected
1611,Very important,Not selected,Greater risk of being accused of sexual harass...,Greater risk of being accused of being sexist ...,Not selected,Not selected
1612,Somewhat important,Managers want to hire and promote women,Greater risk of being accused of sexual harass...,Greater risk of being accused of being sexist ...,Not selected,Not selected
1613,Somewhat important,Not selected,Not selected,Not selected,None of the above,Not selected
1614,Not at all important,NaN,NaN,NaN,NaN,NaN

In [24]:
Dataframe2 = Dataframe2.dropna()
Dataframe2

,Importance of being seen as masculine,Managers want to hire and promote women,Greater risk of being accused of sexual harassment,Greater risk of being accused of being sexist or racist,Other,None of the above
2,2,Managers want to hire and promote women,Not selected,Not selected,Not selected,Not selected
4,4,Not selected,Greater risk of being accused of sexual harass...,Greater risk of being accused of being sexist ...,Not selected,Not selected
5,3,Not selected,Not selected,Greater risk of being accused of being sexist ...,Not selected,Not selected
6,2,Not selected,Not selected,Not selected,None of the above,Not selected
8,1,Not selected,Not selected,Not selected,None of the above,Not selected
...,...,...,...,...,...,...
1609,1,Not selected,Greater risk of being accused of sexual harass...,Greater risk of being accused of being sexist ...,Not selected,Not selected
1610,1,Not selected,Not selected,Greater risk of being accused of being sexist ...,Not selected,Not selected
1611,4,Not selected,Greater risk of being accused of sexual harass...,Greater risk of being accused of being sexist ...,Not selected,Not selected
1612,3,Managers want to hire and promote women,Greater risk of being accused of sexual harass...,Greater risk of being accused of being sexist ...,Not selected,Not selected
1613,3,Not selected,Not selected,Not selected,None of the above,Not selected

In [25]:
Dataframe2 = Dataframe2.rename(columns={"q0002":"Importance of being seen as masculine"})
Dataframe2 = Dataframe2.select_dtypes(include=['object']).copy()
cleanup_nums = {"Importance of being seen as masculine" : {"Very important": 4, "Somewhat important":3 , "Not too important":2, "Not at all important":1}}
Dataframe2 = Dataframe2.replace(cleanup_nums)
Dataframe2.head()

,Importance of being seen as masculine,Managers want to hire and promote women,Greater risk of being accused of sexual harassment,Greater risk of being accused of being sexist or racist,Other,None of the above
2,2,Managers want to hire and promote women,Not selected,Not selected,Not selected,Not selected
4,4,Not selected,Greater risk of being accused of sexual harass...,Greater risk of being accused of being sexist ...,Not selected,Not selected
5,3,Not selected,Not selected,Greater risk of being accused of being sexist ...,Not selected,Not selected
6,2,Not selected,Not selected,Not selected,None of the above,Not selected
8,1,Not selected,Not selected,Not selected,None of the above,Not selected

In [26]:
Dataframe2 = Dataframe2.rename(columns={"q0011_0001": "Managers want to hire and promote women" , "q0011_0002": "Greater risk of being accused of sexual harassment" , "q0011_0003":"Greater risk of being accused of being sexist or racist" , "q0011_0004":"Other", "q0011_0005":"None of the above"})
Dataframe2

,Importance of being seen as masculine,Managers want to hire and promote women,Greater risk of being accused of sexual harassment,Greater risk of being accused of being sexist or racist,Other,None of the above
2,2,Managers want to hire and promote women,Not selected,Not selected,Not selected,Not selected
4,4,Not selected,Greater risk of being accused of sexual harass...,Greater risk of being accused of being sexist ...,Not selected,Not selected
5,3,Not selected,Not selected,Greater risk of being accused of being sexist ...,Not selected,Not selected
6,2,Not selected,Not selected,Not selected,None of the above,Not selected
8,1,Not selected,Not selected,Not selected,None of the above,Not selected
...,...,...,...,...,...,...
1609,1,Not selected,Greater risk of being accused of sexual harass...,Greater risk of being accused of being sexist ...,Not selected,Not selected
1610,1,Not selected,Not selected,Greater risk of being accused of being sexist ...,Not selected,Not selected
1611,4,Not selected,Greater risk of being accused of sexual harass...,Greater risk of being accused of being sexist ...,Not selected,Not selected
1612,3,Managers want to hire and promote women,Greater risk of being accused of sexual harass...,Greater risk of being accused of being sexist ...,Not selected,Not selected
1613,3,Not selected,Not selected,Not selected,None of the above,Not selected

In [120]:
replacing_var = {"Not selected": "No" , "Managers want to hire and promote women" : "Yes" ,"Greater risk of being accused of sexual harassment": "Yes" , "Greater risk of being accused of being sexist or racist": "Yes"}
Dataframe2 = Dataframe2.replace(replacing_var)
Dataframe2

,Importance of being seen as masculine,Managers want to hire and promote women,Greater risk of being accused of sexual harassment,Greater risk of being accused of being sexist or racist,Other,None of the above
2,2,Yes,No,No,No,No
4,4,No,Yes,Yes,No,No
5,3,No,No,Yes,No,No
6,2,No,No,No,None of the above,No
8,1,No,No,No,None of the above,No
...,...,...,...,...,...,...
1609,1,No,Yes,Yes,No,No
1610,1,No,No,Yes,No,No
1611,4,No,Yes,Yes,No,No
1612,3,Yes,Yes,Yes,No,No
1613,3,No,No,No,None of the above,No

In [117]:
Dataframe2_transposed  = Dataframe2.T
Dataframe2_transposed

,2,4,5,6,8,9,10,13,16,17,...,1601,1602,1603,1607,1608,1609,1610,1611,1612,1613
Importance of being seen as masculine,2,4,3,2,1,3,3,4,2,2,...,4,3,2,3,2,1,1,4,3,3
Managers want to hire and promote women,Yes,No,No,No,No,No,Yes,Yes,No,No,...,Yes,No,No,No,No,No,No,No,Yes,No
Greater risk of being accused of sexual harassment,No,Yes,No,No,No,Yes,Yes,No,Yes,No,...,Yes,No,Yes,No,No,Yes,No,Yes,Yes,No
Greater risk of being accused of being sexist or racist,No,Yes,Yes,No,No,No,Yes,No,No,No,...,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Yes,No
Other,No,No,No,None of the above,None of the above,No,No,No,No,None of the above,...,No,None of the above,No,No,None of the above,No,No,No,No,None of the above
None of the above,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No

In [124]:
Dataframe2.groupby(["Managers want to hire and promote women"]).size().reset_index(name="Count")

  Managers want to hire and promote women  Count
0                                      No    700
1                                     Yes    180

In [125]:
Dataframe2.groupby(["Greater risk of being accused of sexual harassment"]).size().reset_index(name="Count")

  Greater risk of being accused of sexual harassment  Count
0                                                 No    475
1                                                Yes    405

In [126]:
Dataframe2.groupby(["Greater risk of being accused of being sexist or racist"]).size().reset_index(name="Count")

  Greater risk of being accused of being sexist or racist  Count
0                                                 No         510
1                                                Yes         370

In [128]:
Dataframe2.groupby(["None of the above"]).size().reset_index(name="Count")

        None of the above  Count
0                      No    834
1  Other (please specify)     46

## Task 3 : Method Chaining

In [113]:
## For Question 10 
df1 = (
    pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/masculinity-survey/raw-responses.csv', usecols=['q0002','q0010_0001','q0010_0002','q0010_0003','q0010_0004','q0010_0005','q0010_0006','q0010_0007','q0010_0008'])
    .dropna()
    .rename(columns={"q0002": "Importance of being seen as masculine" , "q0010_0001": "Men make more money" , "q0010_0002": "Men are taken more seriously" , "q0010_0003": "Men have more choice","q0010_0004": "Men have more promotion/professional development opportunities","q0010_0005": "Men are explicitly praised more often", "q0010_0006":"Men have more support from their managers","q0010_0007":"Other" , "q0010_0008":"None of the Above"})
    .replace(cleanup_nums)
    .replace(replacing_var)
    .T
)
df1

,2,4,5,6,8,9,10,13,16,17,...,1601,1602,1603,1607,1608,1609,1610,1611,1612,1613
Importance of being seen as masculine,2,4,3,2,1,3,3,4,2,2,...,4,3,2,3,2,1,1,4,3,3
Men make more money,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,Yes,Yes,Yes,No
Men are taken more seriously,No,No,No,No,No,Yes,No,Yes,No,No,...,No,No,No,No,No,No,Yes,No,Yes,No
Men have more choice,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,Yes,Yes,No,No
Men have more promotion/professional development opportunities,No,No,No,No,No,Yes,No,No,No,No,...,No,No,No,Yes,No,No,Yes,No,Yes,No
Men are explicitly praised more often,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,Yes,No,No,No
Men have more support from their managers,No,No,No,No,No,Yes,No,No,No,No,...,No,No,No,No,No,No,Yes,Yes,No,No
Other,None of the above,None of the above,No,None of the above,None of the above,No,None of the above,No,None of the above,None of the above,...,None of the above,None of the above,None of the above,No,None of the above,No,No,No,No,None of the above
None of the Above,No,No,Other (please specify),No,No,No,No,No,Other (please specify),No,...,No,No,No,No,No,Other (please specify),No,No,No,No

In [118]:
## For Question 11 
df2 = ( 
    pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/masculinity-survey/raw-responses.csv', usecols=['q0002','q0011_0001','q0011_0002','q0011_0003','q0011_0004','q0011_0005'])
    .dropna()
    .rename(columns={"q0002": "Importance of being seen as masculine" ,"q0011_0001": "Managers want to hire and promote women" , "q0011_0002": "Greater risk of being accused of sexual harassment" , "q0011_0003":"Greater risk of being accused of being sexist or racist" , "q0011_0004":"Other", "q0011_0005":"None of the above"})
    .replace(cleanup_nums)
    .replace(replacing_var)
    .T
)
df2

,2,4,5,6,8,9,10,13,16,17,...,1601,1602,1603,1607,1608,1609,1610,1611,1612,1613
Importance of being seen as masculine,2,4,3,2,1,3,3,4,2,2,...,4,3,2,3,2,1,1,4,3,3
Managers want to hire and promote women,Yes,No,No,No,No,No,Yes,Yes,No,No,...,Yes,No,No,No,No,No,No,No,Yes,No
Greater risk of being accused of sexual harassment,No,Yes,No,No,No,Yes,Yes,No,Yes,No,...,Yes,No,Yes,No,No,Yes,No,Yes,Yes,No
Greater risk of being accused of being sexist or racist,No,Yes,Yes,No,No,No,Yes,No,No,No,...,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Yes,No
Other,No,No,No,None of the above,None of the above,No,No,No,No,None of the above,...,No,None of the above,No,No,None of the above,No,No,No,No,None of the above
None of the above,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No

In [68]:
def load_and_process("https://raw.githubusercontent.com/fivethirtyeight/data/master/masculinity-survey/raw-responses.csv"):
    # Method Chain 1 (Cleaning and rearranging answers from Question 10 )
    df1 ( 
    pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/masculinity-survey/raw-responses.csv', usecols=['q0002','q0010_0001','q0010_0002','q0010_0003','q0010_0004','q0010_0005','q0010_0006','q0010_0007','q0010_0008'])
    .dropna()
    .rename(columns={"q0002": "Importance of being seen as masculine" , "q0010_0001": "Men make more money" , "q0010_0002": "Men are taken more seriously" , "q0010_0003": "Men have more choice","q0010_0004": "Men have more promotion/professional development opportunities","q0010_0005": "Men are explicitly praised more often", "q0010_0006":"Men have more support from their managers","q0010_0007":"Other" , "q0010_0008":"None of the Above"})
    .replace(cleanup_nums)
    .replace(replacing_var)
    .T
)
df1

    # Method Chain 2 (Create new columns, drop others, and do processing)

    DF1 = (
          df1
           .replace(cleanup_nums)
           .replace(replacing_var).
      )

    # Make sure to return the latest dataframe
    
    return DF1

SyntaxError: invalid syntax (884900574.py, line 1)

In [131]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#%matplotlib inline

# Some code to style plots

import matplotlib.pyplot as plt
import seaborn as sns