# Marina Selber Cekannauskas

## Research question/interest

The dataset provides an insight on the concept of masculinity through the lens 
of the modern men . As a female student in DataScience - a male dominant field
I would like to analyse questions such as what are the patterns in behaviors attitudes caused by the
perception on masculinity, what are some of the outcomes of such attributions  in different social contexts 
( focusing more on the the job market and work enviroment ) .

In [33]:
import pandas as pd

In [102]:
df = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/masculinity-survey/raw-responses.csv")
df

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,...,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight
0,1,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,...,Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026
1,2,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120
2,3,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746
3,4,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640
4,5,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,1611,5/22/18 8:48,5/22/18 8:52,Not very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Other family members,Pop culture,Friends,...,West North Central,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight,2.891038
1611,1612,5/22/18 9:15,5/22/18 9:24,Very masculine,Very important,Father or father figure(s),Not selected,Other family members,Not selected,Not selected,...,NaN,iOS Phone / Tablet,Non-white,Hispanic,High school or less,High school or less,35 - 64,Has children,Straight,8.643674
1612,1613,5/22/18 9:22,5/22/18 9:39,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,...,South Atlantic,Windows Desktop / Laptop,White,White,Some college,Some college,35 - 64,Has children,Straight,2.340241
1613,1614,5/22/18 9:44,5/22/18 9:50,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,...,Mountain,Windows Desktop / Laptop,White,White,High school or less,High school or less,18 - 34,No children,Straight,6.557984
1614,1615,5/22/18 9:55,5/22/18 10:00,Very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Not selected,Not selected,Not selected,...,Middle Atlantic,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight,2.817560

# Task 1 : EDA

In [35]:
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

print("Number of rows and columns respectively:", df.shape)

Number of rows and columns respectively: (1615, 98)

#### Based on the frequency table below  , it is possilbe to understand most common answers for survey questions as well as demographic categories

In [49]:
df.describe(include='object').T

            count unique                         top  freq
StartDate    1615   1378               5/21/18 12:36     4
EndDate      1615   1377                5/17/18 4:41     4
q0001        1615      5          Somewhat masculine   826
q0002        1615      5          Somewhat important   628
q0004_0001   1615      2  Father or father figure(s)  1109
...           ...    ...                         ...   ...
educ3        1615      3             College or more   997
educ4        1615      4             College or more   515
age3         1615      3                     35 - 64   855
kids         1606      2                Has children  1065
orientation  1615      4                    Straight  1408

[96 rows x 4 columns]

#### Our survey is based mostly on categorical variables. The numerical variable "weight" is the only varible that allows for an overview of data with an approach in statistics .

In [96]:
df.describe(include='float64').T

,count,mean,std,min,25%,50%,75%,max
weight,1615.0,1.0,1.438996,0.019744,0.10258,0.596892,1.010046,8.676606

#### Before cleaning the data , I wanted to understand the meaning for the  first four columns : how long it took for each participant to answer each question . Note on dropping the "Unnamed" column since it is unnecessary

In [53]:
df[df.columns[0:3]]

      Unnamed: 0     StartDate        EndDate
0              1  5/10/18 4:01   5/10/18 4:06
1              2  5/10/18 6:30   5/10/18 6:53
2              3  5/10/18 7:02   5/10/18 7:09
3              4  5/10/18 7:27   5/10/18 7:31
4              5  5/10/18 7:35   5/10/18 7:42
...          ...           ...            ...
1610        1611  5/22/18 8:48   5/22/18 8:52
1611        1612  5/22/18 9:15   5/22/18 9:24
1612        1613  5/22/18 9:22   5/22/18 9:39
1613        1614  5/22/18 9:44   5/22/18 9:50
1614        1615  5/22/18 9:55  5/22/18 10:00

[1615 rows x 3 columns]

 Analyzing the columns I realized questions on the survey were substituted with "q00x" , it would be possible to rename columns . However , in this survey some questions ( such as question 4 and question 8 for example ) had multiple answers . When loading the table , some columns were created to fit such options . Therefore , q004_001, q0004_0002,q0004_0003,q0004_0004 are all part of question 4 .

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 98 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1615 non-null   int64
 1   StartDate    1615 non-null   object
 2   EndDate      1615 non-null   object
 3   q0001        1615 non-null   object
 4   q0002        1615 non-null   object
 5   q0004_0001   1615 non-null   object
 6   q0004_0002   1615 non-null   object
 7   q0004_0003   1615 non-null   object
 8   q0004_0004   1615 non-null   object
 9   q0004_0005   1615 non-null   object
 10  q0004_0006   1615 non-null   object
 11  q0005        1615 non-null   object
 12  q0007_0001   1615 non-null   object
 13  q0007_0002   1615 non-null   object
 14  q0007_0003   1615 non-null   object
 15  q0007_0004   1615 non-null   object
 16  q0007_0005   1615 non-null   object
 17  q0007_0006   1615 non-null   object
 18  q0007_0007   1615 non-null   object
 19  q0007_0008   1615 non-null   object
 20  q0007_0009   1615 non-null   object
 21  q0007_0010   1615 non-null   object
 22  q0007_0011   1615 non-null   object
 23  q0008_0001   1615 non-null   object
 24  q0008_0002   1615 non-null   object
 25  q0008_0003   1615 non-null   object
 26  q0008_0004   1615 non-null   object
 27  q0008_0005   1615 non-null   object
 28  q0008_0006   1615 non-null   object
 29  q0008_0007   1615 non-null   object
 30  q0008_0008   1615 non-null   object
 31  q0008_0009   1615 non-null   object
 32  q0008_0010   1615 non-null   object
 33  q0008_0011   1615 non-null   object
 34  q0008_0012   1615 non-null   object
 35  q0009        1615 non-null   object
 36  q0010_0001   880 non-null    object
 37  q0010_0002   880 non-null    object
 38  q0010_0003   880 non-null    object
 39  q0010_0004   880 non-null    object
 40  q0010_0005   880 non-null    object
 41  q0010_0006   880 non-null    object
 42  q0010_0007   880 non-null    object
 43  q0010_0008   880 non-null    object
 44  q0011_0001   880 non-null    object
 45  q0011_0002   880 non-null    object
 46  q0011_0003   880 non-null    object
 47  q0011_0004   880 non-null    object
 48  q0011_0005   880 non-null    object
 49  q0012_0001   880 non-null    object
 50  q0012_0002   880 non-null    object
 51  q0012_0003   880 non-null    object
 52  q0012_0004   880 non-null    object
 53  q0012_0005   880 non-null    object
 54  q0012_0006   880 non-null    object
 55  q0012_0007   880 non-null    object
 56  q0013        49 non-null     object
 57  q0014        880 non-null    object
 58  q0015        742 non-null    object
 59  q0017        1615 non-null   object
 60  q0018        1615 non-null   object
 61  q0019_0001   1251 non-null   object
 62  q0019_0002   1251 non-null   object
 63  q0019_0003   1251 non-null   object
 64  q0019_0004   1251 non-null   object
 65  q0019_0005   1251 non-null   object
 66  q0019_0006   1251 non-null   object
 67  q0019_0007   1251 non-null   object
 68  q0020_0001   1615 non-null   object
 69  q0020_0002   1615 non-null   object
 70  q0020_0003   1615 non-null   object
 71  q0020_0004   1615 non-null   object
 72  q0020_0005   1615 non-null   object
 73  q0020_0006   1615 non-null   object
 74  q0021_0001   1615 non-null   object
 75  q0021_0002   1615 non-null   object
 76  q0021_0003   1615 non-null   object
 77  q0021_0004   1615 non-null   object
 78  q0022        1615 non-null   object
 79  q0024        1615 non-null   object
 80  q0025_0001   1615 non-null   object
 81  q0025_0002   1615 non-null   object
 82  q0025_0003   1615 non-null   object
 83  q0026        1615 non-null   object
 84  q0028        1615 non-null   object
 85  q0029        1615 non-null   object
 86  q0030        1615 non-null   object
 87  q0034        1613 non-null   object
 88  q0035        1595 non-null   object
 89  q0036        1613 non-null   object
 90  race2        1615 non-null   object
 91  racethn4     1615 non-null   object
 92  educ3        1615 non-null   object
 93  educ4        1615 non-null   object
 94  age3         1615 non-null   object
 95  kids         1606 non-null   object
 96  orientation  1615 non-null   object
 97  weight       1615 non-null   float64
dtypes: float64(1), int64(1), object(96)
memory usage: 1.2+ MB

In [116]:
df['q0001'].value_counts()

Somewhat masculine      826
Very masculine          612
Not very masculine      131
Not at all masculine     32
No answer                14
Name: q0001, dtype: int64

In [126]:
df['q0011_0001'].value_counts()

Not selected                               700
Managers want to hire and promote women    180
Name: q0011_0001, dtype: int64

# Task 2