# Ashika Das

## Research question/interests
How does the perspective of man on their role in society infleunce their behaviour towards women?

In [190]:
import pandas as pd

In [191]:
responses = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/masculinity-survey/raw-responses.csv")
responses

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,...,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight
0,1,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,...,Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026
1,2,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120
2,3,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746
3,4,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640
4,5,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,1611,5/22/18 8:48,5/22/18 8:52,Not very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Other family members,Pop culture,Friends,...,West North Central,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight,2.891038
1611,1612,5/22/18 9:15,5/22/18 9:24,Very masculine,Very important,Father or father figure(s),Not selected,Other family members,Not selected,Not selected,...,NaN,iOS Phone / Tablet,Non-white,Hispanic,High school or less,High school or less,35 - 64,Has children,Straight,8.643674
1612,1613,5/22/18 9:22,5/22/18 9:39,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,...,South Atlantic,Windows Desktop / Laptop,White,White,Some college,Some college,35 - 64,Has children,Straight,2.340241
1613,1614,5/22/18 9:44,5/22/18 9:50,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,...,Mountain,Windows Desktop / Laptop,White,White,High school or less,High school or less,18 - 34,No children,Straight,6.557984
1614,1615,5/22/18 9:55,5/22/18 10:00,Very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Not selected,Not selected,Not selected,...,Middle Atlantic,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight,2.817560

In [192]:
responses.head()

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,...,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight
0,1,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,...,Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026
1,2,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120
2,3,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746
3,4,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640
4,5,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400

### Task 1

### Data Analysis:

In [193]:
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

print("Number of rows and columns respectively:", responses.shape)
print("Columns in the dataset:", responses.columns)

Number of rows and columns respectively: (1615, 98)
Columns in the dataset: Index(['Unnamed: 0', 'StartDate', 'EndDate', 'q0001', 'q0002', 'q0004_0001',
       'q0004_0002', 'q0004_0003', 'q0004_0004', 'q0004_0005', 'q0004_0006',
       'q0005', 'q0007_0001', 'q0007_0002', 'q0007_0003', 'q0007_0004',
       'q0007_0005', 'q0007_0006', 'q0007_0007', 'q0007_0008', 'q0007_0009',
       'q0007_0010', 'q0007_0011', 'q0008_0001', 'q0008_0002', 'q0008_0003',
       'q0008_0004', 'q0008_0005', 'q0008_0006', 'q0008_0007', 'q0008_0008',
       'q0008_0009', 'q0008_0010', 'q0008_0011', 'q0008_0012', 'q0009',
       'q0010_0001', 'q0010_0002', 'q0010_0003', 'q0010_0004', 'q0010_0005',
       'q0010_0006', 'q0010_0007', 'q0010_0008', 'q0011_0001', 'q0011_0002',
       'q0011_0003', 'q0011_0004', 'q0011_0005', 'q0012_0001', 'q0012_0002',
       'q0012_0003', 'q0012_0004', 'q0012_0005', 'q0012_0006', 'q0012_0007',
       'q0013', 'q0014', 'q0015', 'q0017', 'q0018', 'q0019_0001', 'q0019_0002',
       'q0019_0003', 'q0019_0004', 'q0019_0005', 'q0019_0006', 'q0019_0007',
       'q0020_0001', 'q0020_0002', 'q0020_0003', 'q0020_0004', 'q0020_0005',
       'q0020_0006', 'q0021_0001', 'q0021_0002', 'q0021_0003', 'q0021_0004',
       'q0022', 'q0024', 'q0025_0001', 'q0025_0002', 'q0025_0003', 'q0026',
       'q0028', 'q0029', 'q0030', 'q0034', 'q0035', 'q0036', 'race2',
       'racethn4', 'educ3', 'educ4', 'age3', 'kids', 'orientation', 'weight'],
      dtype='object')

In [194]:
responses.describe(include='float64').T

,count,mean,std,min,25%,50%,75%,max
weight,1615.0,1.0,1.438996,0.019744,0.10258,0.596892,1.010046,8.676606

In [195]:
responses.describe(include='object').T

            count unique                         top  freq
StartDate    1615   1378               5/21/18 12:36     4
EndDate      1615   1377                5/17/18 4:41     4
q0001        1615      5          Somewhat masculine   826
q0002        1615      5          Somewhat important   628
q0004_0001   1615      2  Father or father figure(s)  1109
...           ...    ...                         ...   ...
educ3        1615      3             College or more   997
educ4        1615      4             College or more   515
age3         1615      3                     35 - 64   855
kids         1606      2                Has children  1065
orientation  1615      4                    Straight  1408

[96 rows x 4 columns]

### Task 2-3
##### Load in File unprocessed file:
    Load in the file, an unprocessed version and a processed version

In [196]:
df_responses = responses.select_dtypes(include=['object']).copy()
df_responses

,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,q0004_0006,...,q0034,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation
0,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,Not selected,...,"$0-$9,999",Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual
1,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,Not selected,...,"$50,000-$74,999",East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight
2,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,Other (please specify),...,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight
3,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,Not selected,...,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer
4,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,Not selected,...,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,5/22/18 8:48,5/22/18 8:52,Not very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Other family members,Pop culture,Friends,Not selected,...,"$10,000-$24,999",West North Central,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight
1611,5/22/18 9:15,5/22/18 9:24,Very masculine,Very important,Father or father figure(s),Not selected,Other family members,Not selected,Not selected,Not selected,...,"$50,000-$74,999",NaN,iOS Phone / Tablet,Non-white,Hispanic,High school or less,High school or less,35 - 64,Has children,Straight
1612,5/22/18 9:22,5/22/18 9:39,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,Not selected,...,"$50,000-$74,999",South Atlantic,Windows Desktop / Laptop,White,White,Some college,Some college,35 - 64,Has children,Straight
1613,5/22/18 9:44,5/22/18 9:50,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,Not selected,...,"$10,000-$24,999",Mountain,Windows Desktop / Laptop,White,White,High school or less,High school or less,18 - 34,No children,Straight
1614,5/22/18 9:55,5/22/18 10:00,Very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Not selected,Not selected,Not selected,Not selected,...,"$10,000-$24,999",Middle Atlantic,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight

In [197]:
list(data.columns)

['As a man, would you say you think about your behavior at work differently in the wake of #MeToo?',
 'How old are you?',
 'It’s a disadvantage to be a man at your work right now due to: Greater risk of being accused of sexual harassment',
 'Responded to a sexual harassment incident by: :Contacted the HR department',
 'Responded to a sexual harassment incident by: Confronted the accused person',
 'Responded to a sexual harassment incident by: Contacted the manager of the accused person',
 'Responded to a sexual harassment incident by: Did not respond at all',
 'Responded to a sexual harassment incident by: Never witnessed sexual harassment',
 'Responded to a sexual harassment incident by: Other',
 'Responded to a sexual harassment incident by: Reached out to the victim to offer support',
 'What is your yearly income?',
 'What was the last school you completed?']

Check file types and encodings.
Check delimiters (space, comma, tab).
Skip rows and columns as needed.

In [198]:
#Remove columns not being used.
data = df_responses[['q0011_0002','q0012_0001','q0012_0002','q0012_0003','q0012_0004','q0012_0005','q0012_0006','q0012_0007','q0015','q0029','q0034','age3']]
data

,q0011_0002,q0012_0001,q0012_0002,q0012_0003,q0012_0004,q0012_0005,q0012_0006,q0012_0007,q0015,q0029,q0034,age3
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,College graduate,"$0-$9,999",35 - 64
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Some college,"$50,000-$74,999",65 and up
2,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Other (please specify),No,College graduate,"$50,000-$74,999",35 - 64
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Some college,"$50,000-$74,999",65 and up
4,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,College graduate,"$50,000-$74,999",35 - 64
...,...,...,...,...,...,...,...,...,...,...,...,...
1610,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,Some college,"$10,000-$24,999",18 - 34
1611,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,Did not complete high school,"$50,000-$74,999",35 - 64
1612,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,Associate's degree,"$50,000-$74,999",35 - 64
1613,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,High school or G.E.D.,"$10,000-$24,999",18 - 34
1614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Associate's degree,"$10,000-$24,999",18 - 34

In [199]:
#Viewing missing data from men who did not complete the full survey
data.isnull().sum()

q0011_0002    735
q0012_0001    735
q0012_0002    735
q0012_0003    735
q0012_0004    735
q0012_0005    735
q0012_0006    735
q0012_0007    735
q0015         873
q0029           0
q0034           2
age3            0
dtype: int64

In [200]:
#Deal with missing data.
data = data.dropna().reset_index()
data

,index,q0011_0002,q0012_0001,q0012_0002,q0012_0003,q0012_0004,q0012_0005,q0012_0006,q0012_0007,q0015,q0029,q0034,age3
0,2,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Other (please specify),No,College graduate,"$50,000-$74,999",35 - 64
1,4,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,College graduate,"$50,000-$74,999",35 - 64
2,5,Not selected,Confronted the accused person,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,No,Post graduate degree,"$200,000+",65 and up
3,8,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,No,Some college,"$100,000-$124,999",35 - 64
4,9,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,No,Post graduate degree,"$150,000-$174,999",35 - 64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,1609,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,No,Some college,"$100,000-$124,999",35 - 64
738,1610,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,Some college,"$10,000-$24,999",18 - 34
739,1611,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,Did not complete high school,"$50,000-$74,999",35 - 64
740,1612,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,Associate's degree,"$50,000-$74,999",35 - 64
741,1613,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,High school or G.E.D.,"$10,000-$24,999",18 - 34

In [201]:
#Deal with “incorrect” data.
data.drop('index', axis=1, inplace=True)
data

,q0011_0002,q0012_0001,q0012_0002,q0012_0003,q0012_0004,q0012_0005,q0012_0006,q0012_0007,q0015,q0029,q0034,age3
0,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Other (please specify),No,College graduate,"$50,000-$74,999",35 - 64
1,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,College graduate,"$50,000-$74,999",35 - 64
2,Not selected,Confronted the accused person,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,No,Post graduate degree,"$200,000+",65 and up
3,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,No,Some college,"$100,000-$124,999",35 - 64
4,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,No,Post graduate degree,"$150,000-$174,999",35 - 64
...,...,...,...,...,...,...,...,...,...,...,...,...
737,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,No,Some college,"$100,000-$124,999",35 - 64
738,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,Some college,"$10,000-$24,999",18 - 34
739,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,Did not complete high school,"$50,000-$74,999",35 - 64
740,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,Associate's degree,"$50,000-$74,999",35 - 64
741,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,High school or G.E.D.,"$10,000-$24,999",18 - 34

In [202]:
list(data.columns)

['q0011_0002',
 'q0012_0001',
 'q0012_0002',
 'q0012_0003',
 'q0012_0004',
 'q0012_0005',
 'q0012_0006',
 'q0012_0007',
 'q0015',
 'q0029',
 'q0034',
 'age3']

In [203]:
data = data.rename(columns = {'q0011_0002' :'It’s a disadvantage to be a man at your work right now due to: Greater risk of being accused of sexual harassment',
 'q0012_0001' :'Responded to a sexual harassment incident by: Confronted the accused person',
 'q0012_0002' : 'Responded to a sexual harassment incident by: :Contacted the HR department',
 'q0012_0003': 'Responded to a sexual harassment incident by: Contacted the manager of the accused person' ,
 'q0012_0004': 'Responded to a sexual harassment incident by: Reached out to the victim to offer support' ,
 'q0012_0005': 'Responded to a sexual harassment incident by: Did not respond at all',
 'q0012_0006': 'Responded to a sexual harassment incident by: Never witnessed sexual harassment' ,
 'q0012_0007': 'Responded to a sexual harassment incident by: Other',
 'q0015' : 'As a man, would you say you think about your behavior at work differently in the wake of #MeToo?',
 'q0029' : 'What was the last school you completed?',
 'q0034' : 'What is your yearly income?',
 'age3' : 'How old are you?'
})     
data.head()

,It’s a disadvantage to be a man at your work right now due to: Greater risk of being accused of sexual harassment,Responded to a sexual harassment incident by: Confronted the accused person,Responded to a sexual harassment incident by: :Contacted the HR department,Responded to a sexual harassment incident by: Contacted the manager of the accused person,Responded to a sexual harassment incident by: Reached out to the victim to offer support,Responded to a sexual harassment incident by: Did not respond at all,Responded to a sexual harassment incident by: Never witnessed sexual harassment,Responded to a sexual harassment incident by: Other,"As a man, would you say you think about your behavior at work differently in the wake of #MeToo?",What was the last school you completed?,What is your yearly income?,How old are you?
0,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Other (please specify),No,College graduate,"$50,000-$74,999",35 - 64
1,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,Yes,College graduate,"$50,000-$74,999",35 - 64
2,Not selected,Confronted the accused person,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,No,Post graduate degree,"$200,000+",65 and up
3,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,No,Some college,"$100,000-$124,999",35 - 64
4,Greater risk of being accused of sexual harass...,Not selected,Not selected,Not selected,Not selected,Not selected,Never witnessed sexual harassment,Not selected,No,Post graduate degree,"$150,000-$174,999",35 - 64

In [204]:
data = data.replace('Other (please specify)','Yes').replace('Confronted the accused person','Yes').replace('Contacted the HR department','Yes').replace('Contacted the manager of the accused person','Yes').replace('Reached out to the victim to offer support','Yes').replace('Did not respond at all','Yes').replace('Never witnessed sexual harassment','Yes').replace('Greater risk of being accused of sexual harassment','Yes').replace('Not selected','No')
data

,It’s a disadvantage to be a man at your work right now due to: Greater risk of being accused of sexual harassment,Responded to a sexual harassment incident by: Confronted the accused person,Responded to a sexual harassment incident by: :Contacted the HR department,Responded to a sexual harassment incident by: Contacted the manager of the accused person,Responded to a sexual harassment incident by: Reached out to the victim to offer support,Responded to a sexual harassment incident by: Did not respond at all,Responded to a sexual harassment incident by: Never witnessed sexual harassment,Responded to a sexual harassment incident by: Other,"As a man, would you say you think about your behavior at work differently in the wake of #MeToo?",What was the last school you completed?,What is your yearly income?,How old are you?
0,No,No,No,No,No,No,No,Yes,No,College graduate,"$50,000-$74,999",35 - 64
1,Yes,No,No,No,No,No,Yes,No,Yes,College graduate,"$50,000-$74,999",35 - 64
2,No,Yes,No,No,No,No,No,No,No,Post graduate degree,"$200,000+",65 and up
3,No,No,No,No,No,No,Yes,No,No,Some college,"$100,000-$124,999",35 - 64
4,Yes,No,No,No,No,No,Yes,No,No,Post graduate degree,"$150,000-$174,999",35 - 64
...,...,...,...,...,...,...,...,...,...,...,...,...
737,Yes,No,No,No,No,No,Yes,No,No,Some college,"$100,000-$124,999",35 - 64
738,No,No,No,No,No,No,Yes,No,Yes,Some college,"$10,000-$24,999",18 - 34
739,Yes,No,No,No,No,No,Yes,No,Yes,Did not complete high school,"$50,000-$74,999",35 - 64
740,Yes,No,No,No,No,No,Yes,No,Yes,Associate's degree,"$50,000-$74,999",35 - 64
741,No,No,No,No,No,No,Yes,No,Yes,High school or G.E.D.,"$10,000-$24,999",18 - 34

In [247]:
data = data.sort_values(by=['How old are you?'])

## Task 3

#### Step 1

In [245]:
import pandas as pd
import numpy as np

survey = (pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/masculinity-survey/raw-responses.csv")
.loc[:, ['q0011_0002',
 'q0012_0001',
 'q0012_0002',
 'q0012_0003',
 'q0012_0004',
 'q0012_0005',
 'q0012_0006',
 'q0012_0007',
 'q0015',
 'q0029',
 'q0034',
 'age3']]
.dropna().reset_index()
.drop('index', axis=1)
.rename(columns={"q0011_0002" :"It’s a disadvantage to be a man at your work right now due to: Greater risk of being accused of sexual harassment","q0012_0001" :"Responded to a sexual harassment incident by: Confronted the accused person","q0012_0002" : "Responded to a sexual harassment incident by: :Contacted the HR department","q0012_0003": "Responded to a sexual harassment incident by: Contacted the manager of the accused person", "q0012_0004": "Responded to a sexual harassment incident by: Reached out to the victim to offer support","q0012_0005": "Responded to a sexual harassment incident by: Did not respond at all","q0012_0006": "Responded to a sexual harassment incident by: Never witnessed sexual harassment","q0012_0007": "Responded to a sexual harassment incident by: Other","q0015" : "As a man, would you say you think about your behavior at work differently in the wake of #MeToo?","q0029" :"What was the last school you completed?","q0034" : "What is your yearly income?","age3" : "How old are you?"})
.replace('Other (please specify)','Yes')
.replace('Confronted the accused person','Yes').replace('Contacted the HR department','Yes').replace('Contacted the manager of the accused person','Yes').replace('Reached out to the victim to offer support','Yes').replace('Did not respond at all','Yes').replace('Never witnessed sexual harassment','Yes').replace('Greater risk of being accused of sexual harassment','Yes').replace('Not selected','No')
.sort_values(by=['How old are you?']))
survey

,It’s a disadvantage to be a man at your work right now due to: Greater risk of being accused of sexual harassment,Responded to a sexual harassment incident by: Confronted the accused person,Responded to a sexual harassment incident by: :Contacted the HR department,Responded to a sexual harassment incident by: Contacted the manager of the accused person,Responded to a sexual harassment incident by: Reached out to the victim to offer support,Responded to a sexual harassment incident by: Did not respond at all,Responded to a sexual harassment incident by: Never witnessed sexual harassment,Responded to a sexual harassment incident by: Other,"As a man, would you say you think about your behavior at work differently in the wake of #MeToo?",What was the last school you completed?,What is your yearly income?,How old are you?
741,No,No,No,No,No,No,Yes,No,Yes,High school or G.E.D.,"$10,000-$24,999",18 - 34
665,No,No,No,No,No,No,No,Yes,No,College graduate,"$150,000-$174,999",18 - 34
76,No,No,No,No,No,No,Yes,No,No,Post graduate degree,"$175,000-$199,999",18 - 34
75,No,No,No,No,No,No,Yes,No,No,College graduate,"$10,000-$24,999",18 - 34
162,Yes,No,No,No,No,No,Yes,No,Yes,Some college,"$150,000-$174,999",18 - 34
...,...,...,...,...,...,...,...,...,...,...,...,...
136,Yes,No,No,No,No,No,Yes,No,Yes,Post graduate degree,"$200,000+",65 and up
613,No,No,No,No,No,No,No,Yes,No,College graduate,Prefer not to answer,65 and up
289,Yes,No,No,No,No,No,Yes,No,No,High school or G.E.D.,"$25,000-$49,999",65 and up
604,No,No,No,No,No,No,Yes,No,No,Some college,"$25,000-$49,999",65 and up
201,Yes,No,No,No,No,No,Yes,No,No,Post graduate degree,"$75,000-$99,999",65 and up

#### Step 2

In [249]:
def load_and_process(pathname):

    # Method Chain 1 (Load data and deal with missing data)

    s1 = (pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/masculinity-survey/raw-responses.csv")
.loc[:, ['q0011_0002',
 'q0012_0001',
 'q0012_0002',
 'q0012_0003',
 'q0012_0004',
 'q0012_0005',
 'q0012_0006',
 'q0012_0007',
 'q0015',
 'q0029',
 'q0034',
 'age3']]
.dropna().reset_index()
.drop('index', axis=1)
         )

    # Method Chain 2 (Create new columns, drop others, and do processing)

    s2 = (
          s1
          .rename(columns={"q0011_0002" :"It’s a disadvantage to be a man at your work right now due to: Greater risk of being accused of sexual harassment","q0012_0001" :"Responded to a sexual harassment incident by: Confronted the accused person","q0012_0002" : "Responded to a sexual harassment incident by: :Contacted the HR department","q0012_0003": "Responded to a sexual harassment incident by: Contacted the manager of the accused person", "q0012_0004": "Responded to a sexual harassment incident by: Reached out to the victim to offer support","q0012_0005": "Responded to a sexual harassment incident by: Did not respond at all","q0012_0006": "Responded to a sexual harassment incident by: Never witnessed sexual harassment","q0012_0007": "Responded to a sexual harassment incident by: Other","q0015" : "As a man, would you say you think about your behavior at work differently in the wake of #MeToo?","q0029" :"What was the last school you completed?","q0034" : "What is your yearly income?","age3" : "How old are you?"})
.replace('Other (please specify)','Yes')
.replace('Confronted the accused person','Yes').replace('Contacted the HR department','Yes').replace('Contacted the manager of the accused person','Yes').replace('Reached out to the victim to offer support','Yes').replace('Did not respond at all','Yes').replace('Never witnessed sexual harassment','Yes').replace('Greater risk of being accused of sexual harassment','Yes').replace('Not selected','No')
.sort_values(by=['How old are you?'])
      )
    # Make sure to return the latest dataframe

    return s2 

load_and_process("https://raw.githubusercontent.com/fivethirtyeight/data/master/masculinity-survey/raw-responses.csv")

,It’s a disadvantage to be a man at your work right now due to: Greater risk of being accused of sexual harassment,Responded to a sexual harassment incident by: Confronted the accused person,Responded to a sexual harassment incident by: :Contacted the HR department,Responded to a sexual harassment incident by: Contacted the manager of the accused person,Responded to a sexual harassment incident by: Reached out to the victim to offer support,Responded to a sexual harassment incident by: Did not respond at all,Responded to a sexual harassment incident by: Never witnessed sexual harassment,Responded to a sexual harassment incident by: Other,"As a man, would you say you think about your behavior at work differently in the wake of #MeToo?",What was the last school you completed?,What is your yearly income?,How old are you?
741,No,No,No,No,No,No,Yes,No,Yes,High school or G.E.D.,"$10,000-$24,999",18 - 34
665,No,No,No,No,No,No,No,Yes,No,College graduate,"$150,000-$174,999",18 - 34
76,No,No,No,No,No,No,Yes,No,No,Post graduate degree,"$175,000-$199,999",18 - 34
75,No,No,No,No,No,No,Yes,No,No,College graduate,"$10,000-$24,999",18 - 34
162,Yes,No,No,No,No,No,Yes,No,Yes,Some college,"$150,000-$174,999",18 - 34
...,...,...,...,...,...,...,...,...,...,...,...,...
136,Yes,No,No,No,No,No,Yes,No,Yes,Post graduate degree,"$200,000+",65 and up
613,No,No,No,No,No,No,No,Yes,No,College graduate,Prefer not to answer,65 and up
289,Yes,No,No,No,No,No,Yes,No,No,High school or G.E.D.,"$25,000-$49,999",65 and up
604,No,No,No,No,No,No,Yes,No,No,Some college,"$25,000-$49,999",65 and up
201,Yes,No,No,No,No,No,Yes,No,No,Post graduate degree,"$75,000-$99,999",65 and up

Load in File unprocessed file:
Load in the file, an unprocessed version and a processed version

In [252]:
import project_functions2 as p2

In [253]:
data ='../data/raw/Data301rawresponses.csv'
sur = p2.unprocessed(data)
sur

AttributeError: module 'project_functions2' has no attribute 'unprocessed'

### Load in and process file

In [254]:
sur = p2.load_and_process(data)
sur

,It’s a disadvantage to be a man at your work right now due to: Greater risk of being accused of sexual harassment,Responded to a sexual harassment incident by: Confronted the accused person,Responded to a sexual harassment incident by: :Contacted the HR department,Responded to a sexual harassment incident by: Contacted the manager of the accused person,Responded to a sexual harassment incident by: Reached out to the victim to offer support,Responded to a sexual harassment incident by: Did not respond at all,Responded to a sexual harassment incident by: Never witnessed sexual harassment,Responded to a sexual harassment incident by: Other,"As a man, would you say you think about your behavior at work differently in the wake of #MeToo?",What was the last school you completed?,What is your yearly income?,How old are you?
741,No,No,No,No,No,No,Yes,No,Yes,High school or G.E.D.,"$10,000-$24,999",18 - 34
665,No,No,No,No,No,No,No,Yes,No,College graduate,"$150,000-$174,999",18 - 34
76,No,No,No,No,No,No,Yes,No,No,Post graduate degree,"$175,000-$199,999",18 - 34
75,No,No,No,No,No,No,Yes,No,No,College graduate,"$10,000-$24,999",18 - 34
162,Yes,No,No,No,No,No,Yes,No,Yes,Some college,"$150,000-$174,999",18 - 34
...,...,...,...,...,...,...,...,...,...,...,...,...
136,Yes,No,No,No,No,No,Yes,No,Yes,Post graduate degree,"$200,000+",65 and up
613,No,No,No,No,No,No,No,Yes,No,College graduate,Prefer not to answer,65 and up
289,Yes,No,No,No,No,No,Yes,No,No,High school or G.E.D.,"$25,000-$49,999",65 and up
604,No,No,No,No,No,No,Yes,No,No,Some college,"$25,000-$49,999",65 and up
201,Yes,No,No,No,No,No,Yes,No,No,Post graduate degree,"$75,000-$99,999",65 and up

### Task 4

In [256]:
print("Number of rows and columns respectively:", sur.shape)
print("Columns in the dataset:", sur.columns)

Number of rows and columns respectively: (742, 12)
Columns in the dataset: Index(['It’s a disadvantage to be a man at your work right now due to: Greater risk of being accused of sexual harassment',
       'Responded to a sexual harassment incident by: Confronted the accused person',
       'Responded to a sexual harassment incident by: :Contacted the HR department',
       'Responded to a sexual harassment incident by: Contacted the manager of the accused person',
       'Responded to a sexual harassment incident by: Reached out to the victim to offer support',
       'Responded to a sexual harassment incident by: Did not respond at all',
       'Responded to a sexual harassment incident by: Never witnessed sexual harassment',
       'Responded to a sexual harassment incident by: Other',
       'As a man, would you say you think about your behavior at work differently in the wake of #MeToo?',
       'What was the last school you completed?',
       'What is your yearly income?', 'How old are you?'],
      dtype='object')

In [ ]:
sur.describe(include='float64').T

In [ ]:
sur.describe(include='object').T

In [255]:
ax = sns.lmplot(data=sur, x="As a man, would you say you think about your behavior at work differently in the wake of #MeToo?",y="What is your yearly income?",hue="")
ax.fig.set_size_inches(15,10)
ax.fig.suptitle(" MeToo vs Income")
plt.show()

KeyError: "[''] not in index"