# Ashika Das

## Research question/interests
How does the perspective of man on their role in society infleunce their behaviour towards women?

In [3]:
import pandas as pd

In [4]:
responses = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/masculinity-survey/raw-responses.csv")
responses

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,...,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight
0,1,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,...,Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026
1,2,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120
2,3,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746
3,4,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640
4,5,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,1611,5/22/18 8:48,5/22/18 8:52,Not very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Other family members,Pop culture,Friends,...,West North Central,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight,2.891038
1611,1612,5/22/18 9:15,5/22/18 9:24,Very masculine,Very important,Father or father figure(s),Not selected,Other family members,Not selected,Not selected,...,NaN,iOS Phone / Tablet,Non-white,Hispanic,High school or less,High school or less,35 - 64,Has children,Straight,8.643674
1612,1613,5/22/18 9:22,5/22/18 9:39,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,...,South Atlantic,Windows Desktop / Laptop,White,White,Some college,Some college,35 - 64,Has children,Straight,2.340241
1613,1614,5/22/18 9:44,5/22/18 9:50,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,...,Mountain,Windows Desktop / Laptop,White,White,High school or less,High school or less,18 - 34,No children,Straight,6.557984
1614,1615,5/22/18 9:55,5/22/18 10:00,Very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Not selected,Not selected,Not selected,...,Middle Atlantic,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight,2.817560

In [8]:
responses.head()

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,...,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight
0,1,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,...,Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026
1,2,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120
2,3,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746
3,4,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640
4,5,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400

### Task 1

### Data Analysis:

In [10]:
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

print("Number of rows and columns respectively:", responses.shape)
print("Columns in the dataset:", responses.columns)

Number of rows and columns respectively: (1615, 98)
Columns in the dataset: Index(['Unnamed: 0', 'StartDate', 'EndDate', 'q0001', 'q0002', 'q0004_0001',
       'q0004_0002', 'q0004_0003', 'q0004_0004', 'q0004_0005', 'q0004_0006',
       'q0005', 'q0007_0001', 'q0007_0002', 'q0007_0003', 'q0007_0004',
       'q0007_0005', 'q0007_0006', 'q0007_0007', 'q0007_0008', 'q0007_0009',
       'q0007_0010', 'q0007_0011', 'q0008_0001', 'q0008_0002', 'q0008_0003',
       'q0008_0004', 'q0008_0005', 'q0008_0006', 'q0008_0007', 'q0008_0008',
       'q0008_0009', 'q0008_0010', 'q0008_0011', 'q0008_0012', 'q0009',
       'q0010_0001', 'q0010_0002', 'q0010_0003', 'q0010_0004', 'q0010_0005',
       'q0010_0006', 'q0010_0007', 'q0010_0008', 'q0011_0001', 'q0011_0002',
       'q0011_0003', 'q0011_0004', 'q0011_0005', 'q0012_0001', 'q0012_0002',
       'q0012_0003', 'q0012_0004', 'q0012_0005', 'q0012_0006', 'q0012_0007',
       'q0013', 'q0014', 'q0015', 'q0017', 'q0018', 'q0019_0001', 'q0019_0002',
       'q0019_0003', 'q0019_0004', 'q0019_0005', 'q0019_0006', 'q0019_0007',
       'q0020_0001', 'q0020_0002', 'q0020_0003', 'q0020_0004', 'q0020_0005',
       'q0020_0006', 'q0021_0001', 'q0021_0002', 'q0021_0003', 'q0021_0004',
       'q0022', 'q0024', 'q0025_0001', 'q0025_0002', 'q0025_0003', 'q0026',
       'q0028', 'q0029', 'q0030', 'q0034', 'q0035', 'q0036', 'race2',
       'racethn4', 'educ3', 'educ4', 'age3', 'kids', 'orientation', 'weight'],
      dtype='object')

In [11]:
responses.describe(include='float64').T

,count,mean,std,min,25%,50%,75%,max
weight,1615.0,1.0,1.438996,0.019744,0.10258,0.596892,1.010046,8.676606

In [12]:
responses.describe(include='object').T

            count unique                         top  freq
StartDate    1615   1378               5/21/18 12:36     4
EndDate      1615   1377                5/17/18 4:41     4
q0001        1615      5          Somewhat masculine   826
q0002        1615      5          Somewhat important   628
q0004_0001   1615      2  Father or father figure(s)  1109
...           ...    ...                         ...   ...
educ3        1615      3             College or more   997
educ4        1615      4             College or more   515
age3         1615      3                     35 - 64   855
kids         1606      2                Has children  1065
orientation  1615      4                    Straight  1408

[96 rows x 4 columns]

### Task 2-3
##### Load in File unprocessed file:
    Load in the file, an unprocessed version and a processed version

In [14]:
df_responses = responses.select_dtypes(include=['object']).copy()
df_responses

,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,q0004_0006,...,q0034,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation
0,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,Not selected,...,"$0-$9,999",Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual
1,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,Not selected,...,"$50,000-$74,999",East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight
2,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,Other (please specify),...,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight
3,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,Not selected,...,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer
4,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,Not selected,...,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,5/22/18 8:48,5/22/18 8:52,Not very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Other family members,Pop culture,Friends,Not selected,...,"$10,000-$24,999",West North Central,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight
1611,5/22/18 9:15,5/22/18 9:24,Very masculine,Very important,Father or father figure(s),Not selected,Other family members,Not selected,Not selected,Not selected,...,"$50,000-$74,999",NaN,iOS Phone / Tablet,Non-white,Hispanic,High school or less,High school or less,35 - 64,Has children,Straight
1612,5/22/18 9:22,5/22/18 9:39,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,Not selected,...,"$50,000-$74,999",South Atlantic,Windows Desktop / Laptop,White,White,Some college,Some college,35 - 64,Has children,Straight
1613,5/22/18 9:44,5/22/18 9:50,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,Not selected,...,"$10,000-$24,999",Mountain,Windows Desktop / Laptop,White,White,High school or less,High school or less,18 - 34,No children,Straight
1614,5/22/18 9:55,5/22/18 10:00,Very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Not selected,Not selected,Not selected,Not selected,...,"$10,000-$24,999",Middle Atlantic,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight

In [ ]:
Check file types and encodings.
Check delimiters (space, comma, tab).
Skip rows and columns as needed.

In [18]:
print( df_responses.isnull().values.sum())

20455

In [16]:
responses['q0001'].value_counts()

Somewhat masculine      826
Very masculine          612
Not very masculine      131
Not at all masculine     32
No answer                14
Name: q0001, dtype: int64

popcult = responses['q0004_0003'].value_counts()
popcult

In [5]:
man = responses['q0015'].value_counts()
man

No           489
Yes          247
No answer      6
Name: q0015, dtype: int64

Task 2

Load in File unprocessed file:
Load in the file, an unprocessed version and a processed version

In [22]:
responses

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,...,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight
0,1,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,...,Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026
1,2,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120
2,3,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746
3,4,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640
4,5,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,1611,5/22/18 8:48,5/22/18 8:52,Not very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Other family members,Pop culture,Friends,...,West North Central,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight,2.891038
1611,1612,5/22/18 9:15,5/22/18 9:24,Very masculine,Very important,Father or father figure(s),Not selected,Other family members,Not selected,Not selected,...,NaN,iOS Phone / Tablet,Non-white,Hispanic,High school or less,High school or less,35 - 64,Has children,Straight,8.643674
1612,1613,5/22/18 9:22,5/22/18 9:39,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,...,South Atlantic,Windows Desktop / Laptop,White,White,Some college,Some college,35 - 64,Has children,Straight,2.340241
1613,1614,5/22/18 9:44,5/22/18 9:50,Somewhat masculine,Somewhat important,Not selected,Mother or mother figure(s),Not selected,Not selected,Not selected,...,Mountain,Windows Desktop / Laptop,White,White,High school or less,High school or less,18 - 34,No children,Straight,6.557984
1614,1615,5/22/18 9:55,5/22/18 10:00,Very masculine,Not at all important,Father or father figure(s),Mother or mother figure(s),Not selected,Not selected,Not selected,...,Middle Atlantic,iOS Phone / Tablet,White,White,Some college,Some college,18 - 34,No children,Straight,2.817560

In [23]:
list(responses.columns)

['Unnamed: 0',
 'StartDate',
 'EndDate',
 'q0001',
 'q0002',
 'q0004_0001',
 'q0004_0002',
 'q0004_0003',
 'q0004_0004',
 'q0004_0005',
 'q0004_0006',
 'q0005',
 'q0007_0001',
 'q0007_0002',
 'q0007_0003',
 'q0007_0004',
 'q0007_0005',
 'q0007_0006',
 'q0007_0007',
 'q0007_0008',
 'q0007_0009',
 'q0007_0010',
 'q0007_0011',
 'q0008_0001',
 'q0008_0002',
 'q0008_0003',
 'q0008_0004',
 'q0008_0005',
 'q0008_0006',
 'q0008_0007',
 'q0008_0008',
 'q0008_0009',
 'q0008_0010',
 'q0008_0011',
 'q0008_0012',
 'q0009',
 'q0010_0001',
 'q0010_0002',
 'q0010_0003',
 'q0010_0004',
 'q0010_0005',
 'q0010_0006',
 'q0010_0007',
 'q0010_0008',
 'q0011_0001',
 'q0011_0002',
 'q0011_0003',
 'q0011_0004',
 'q0011_0005',
 'q0012_0001',
 'q0012_0002',
 'q0012_0003',
 'q0012_0004',
 'q0012_0005',
 'q0012_0006',
 'q0012_0007',
 'q0013',
 'q0014',
 'q0015',
 'q0017',
 'q0018',
 'q0019_0001',
 'q0019_0002',
 'q0019_0003',
 'q0019_0004',
 'q0019_0005',
 'q0019_0006',
 'q0019_0007',
 'q0020_0001',
 'q0020_0002',
 'q0020_0003',
 'q0020_0004',
 'q0020_0005',
 'q0020_0006',
 'q0021_0001',
 'q0021_0002',
 'q0021_0003',
 'q0021_0004',
 'q0022',
 'q0024',
 'q0025_0001',
 'q0025_0002',
 'q0025_0003',
 'q0026',
 'q0028',
 'q0029',
 'q0030',
 'q0034',
 'q0035',
 'q0036',
 'race2',
 'racethn4',
 'educ3',
 'educ4',
 'age3',
 'kids',
 'orientation',
 'weight']

In [68]:
responses = responses.rename(columns = {
 'q0001' :'In general, how masculine or “manly” do you feel?',
 'q0002' : 'How important is it to you that others see you as masculine?',
 'q0004_0001' : ,
 'q0004_0002',
 'q0004_0003',
 'q0004_0004',
 'q0004_0005',
 'q0004_0006',
 'q0005' : 'Do you think that society puts pressure on men in a way that is unhealthy or bad for them? ',
 'q0007_0001' : 'Ask a friend for professional advice',
 'q0007_0002' : 'Ask a friend for personal advice',
 'q0007_0003' : 'Express physical affection to male friends, like hugging, rubbing shoulders',
 'q0007_0004' : 'Cry',
 'q0007_0005' : 'Get in a physical fight with another person',
 'q0007_0006' : 'Have sexual relations with women, including anything from kissing to sex',
 'q0007_0007' : 'Have sexual relations with men, including anything from kissing to sex',
 'q0007_0008' : 'Watch sports of any kind' ,
 'q0007_0009' : 'Work out',
 'q0007_0010' : 'See a therapist',
 'q0007_0011' : 'Feel lonely or isolated',
 'q0008_0001' : 'I worry about my height, daily or nearly daily',
 'q0008_0002' : 'I worry about my weight, daily or nearly daily',
 'q0008_0003' : 'I worry about my hair/hairline, daily or nearly daily',
 'q0008_0004' : 'I worry about my physique, daily or nearly daily,
 'q0008_0005' : 'I worry about appearance of my genitalia, daily or nearly daily',
 'q0008_0006' : 'I worry about my clothing/style, daily or nearly daily',
 'q0008_0007' : 'I worry about my sexual performance/amount of sex, daily or nearly daily,
 'q0008_0008' : 'I worry about my mental health, daily or nearly daily',
 'q0008_0009' : 'I worry about my physical health, daily or nearly daily',
 'q0008_0010' : 'I worry about my finace, including currrent/future assest and debt, daily or nearly daily',
 'q0008_0011' : 'I worry about my ability to provide to family, current or future, daily or nearly daily',
 'q0008_0012' : 'None of the above',
 'q0009' : 'Which of the following categories best describes your employment status?',
 'q0010_0001' : 'At,
 'q0010_0002',
 'q0010_0003',
 'q0010_0004',
 'q0010_0005',
 'q0010_0006',
 'q0010_0007',
 'q0010_0008',
 'q0011_0001',
 'q0011_0002',
 'q0011_0003',
 'q0011_0004',
 'q0011_0005',
 'q0012_0001',
 'q0012_0002',
 'q0012_0003',
 'q0012_0004',
 'q0012_0005',
 'q0012_0006',
 'q0012_0007',
 'q0013',
 'q0014',
 'q0015',
 'q0017',
 'q0018',
 'q0019_0001',
 'q0019_0002',
 'q0019_0003',
 'q0019_0004',
 'q0019_0005',
 'q0019_0006',
 'q0019_0007',
 'q0020_0001',
 'q0020_0002',
 'q0020_0003',
 'q0020_0004',
 'q0020_0005',
 'q0020_0006',
 'q0021_0001',
 'q0021_0002',
 'q0021_0003',
 'q0021_0004',
 'q0022',
 'q0024',
 'q0025_0001',
 'q0025_0002',
 'q0025_0003',
 'q0026',
 'q0028',
 'q0029',
 'q0030',
 'q0034',
 'q0035',
 'q0036',
 'race2',
 'racethn4',
 'educ3',
 'educ4',
 'age3',
 'kids',
 'orientation',
 'weight'})
responses.head()

,Unnamed: 0,StartDate,EndDate,"In general, how masculine or “manly” do you feel?",How important is it to you that others see you as masculine?,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,...,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight
0,1,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,...,Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026
1,2,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120
2,3,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746
3,4,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640
4,5,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400